<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CitrineMoonstoneIoliteOnyx</title>
        <!-- EXTERNAL THINGS -->
        <!-- Latest BOOTSTRAP compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- latest VueJS (because this is a CDN) -->
        <script src="https://unpkg.com/vue"></script>
        <!-- MY THINGS -->
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>

    <body>
      <div id="app" class="container-fluid">
        <div class="container text-center">
          <section>
            <h1>{{ title }}</h1>
            <p>{{ message }}</p>
          </section>
          <section>
            <h2>{{ subtitle }}</h2>
            <h3>{{ p_subtitle }}</h3>
            <select v-model='chosen_p'>
              <option v-for="pronoun in pronouns" v-bind:value="pronoun"> {{ pronoun }} </option>
            </select>
            <h3>{{ a_subtitle }}</h3>
            <select v-model='chosen_a'>
              <option v-for="accord in accords" v-bind:value="accord"> {{ accord }} </option>
            </select>
            <p id="choices_previewer">{{chosen_p}} - {{ chosen_a }}</p>
            <p v-if="have_to_login === true">L'utilisateurice n'est pas connecté-e et / ou n'a pas accordé les permissions nécessaires à l'application !</p>
            <p v-else>L'utilisateurice est connecté-e et a accordé les permissions nécessaires à l'application !</p>
            <button class="fb-login-button text-center" v-show="have_to_login === true" @click="logMeInWithPermissions()">Continue with Facebook</button>
            <button class="generic-button" v-show="have_to_login === false" @click="publishToFB()">Let people know</button>
          </section>
        </div>
      </div>
      <script src="script.js"></script>
    </body>
</html>
