<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PronounsAndAccordsMatter</title>
        <!-- EXTERNAL THINGS -->
        <!-- Latest BOOTSTRAP compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- latest VueJS (because this is a CDN) -->
        <script src="https://unpkg.com/vue"></script>
        <!-- the Font -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
        <!-- MY THINGS -->
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>

    <body>
      <div id="app" class="container text-center">
        <section>
          <h1>{{ title }}</h1>
          <!-- As behind, to display english & french lang, elements were duplicated, first the EN, then, the FR -->
          <button class="generic-button" v-show="chosen_lang === 'EN'" @click="doIWantInfos()">{{ info_button }}</button>
          <button class="generic-button" v-show="chosen_lang === 'FR'" @click="doIWantInfos()">{{ info_button_fr }}</button>
        </section>
        <transition name="fade">
          <section class="magic-window" v-show= "want_infos === true">
            <h2>Infos</h2>
            <p v-show="chosen_lang === 'FR' ">{{ infos_text_fr }}</p>
            <p v-show="chosen_lang === 'EN' ">{{ infos_text }}</p>
          </section>
        </transition>
        <section class="magic-window">
          <transition name="fade">
            <p class="accented-text" v-show="chosen_lang === 'EN' && chosen_p == '' && chosen_a == '' " >{{ call_to_action_choice }}</p>
          </transition>
          <transition name="fade">
            <p class="accented-text" v-show="chosen_lang === 'FR' && chosen_p == '' && chosen_a == '' " >{{ call_to_action_choice_fr }}</p>
          </transition>
          <h2 v-show="chosen_lang === 'EN' ">{{ p_subtitle }}</h2>
          <h2 v-show="chosen_lang === 'FR' ">{{ p_subtitle_fr }}</h2>
          <select v-model='chosen_p' v-show="chosen_lang === 'EN'">
            <option v-for="pronoun in pronouns" v-bind:value="pronoun"> {{ pronoun }} </option>
          </select>
          <select v-model='chosen_p' v-show="chosen_lang === 'FR'">
            <option v-for="pronoun in pronouns_fr" v-bind:value="pronoun"> {{ pronoun }} </option>
          </select>
          <h2 v-show="chosen_lang === 'EN' ">{{ a_subtitle }}</h2>
          <h2 v-show="chosen_lang === 'FR' ">{{ a_subtitle_fr }}</h2>
          <select v-model='chosen_a'>
            <option v-for="accord in accords" v-bind:value="accord"> {{ accord }} </option>
          </select>
          <transition name="fade">
            <p class="accented-text" v-show="chosen_p != '' || chosen_a != ''" >{{ chosen_p }} - {{ chosen_a }}</p>
          </transition>
          <transition name="fade">
            <p class="accented-text" v-show="chosen_lang === 'EN' && have_to_login === true">{{ call_to_action_connect }}</p>
          </transition>
          <transition name="fade">
            <p class="accented-text" v-show="chosen_lang === 'FR' && have_to_login === true">{{ call_to_action_connect_fr }}</p>
          </transition>
          <button class="soc-net-login-button text-center" v-show="chosen_lang === 'EN' && have_to_login === true" @click="logMeInWithPermissions()">Give us what we need</button>
          <button class="soc-net-login-button text-center" v-show="chosen_lang === 'FR' && have_to_login === true" @click="logMeInWithPermissions()">Juste un clic pour utiliser l'app</button>
          <transition name="fade">
            <p class="accented-text" v-show="chosen_lang === 'EN' && have_to_login === false && chosen_p != '' && chosen_a != '' ">{{ call_to_action_share }}</p>
          </transition>
          <transition name="fade">
            <p class="accented-text" v-show="chosen_lang === 'FR' && have_to_login === false && chosen_p != '' && chosen_a != '' ">{{ call_to_action_share_fr }}</p>
          </transition>
          <transition name="fade">
            <p class="accented-text-variant" v-show="soc_net_feedback != '' ">{{ soc_net_feedback }}</p>
          </transition>
          <button class="generic-button" v-show="chosen_lang === 'EN' && have_to_login === false && chosen_p != '' && chosen_a != '' " @click="publishToFB()">Let people know</button>
          <button class="generic-button" v-show="chosen_lang === 'FR' && have_to_login === false && chosen_p != '' && chosen_a != '' " @click="publishToFB()">Partager avec les autres</button>
        </section>
        <footer class="magic-window">
          <p v-show="chosen_lang === 'FR' ">{{ footer_code_fr }}<a href="https://github.com/ModifiedChocolateUnicorn">ModifiedChocolateUnicorn</a></p>
          <p v-show="chosen_lang === 'EN' ">{{ footer_code }}<a href="https://github.com/ModifiedChocolateUnicorn">ModifiedChocolateUnicorn</a></p>
          <p v-show="chosen_lang === 'FR' ">{{ footer_pic_fr }}<a v-bind:href="author_picture_link">{{ author_name }}</a></p>
          <p v-show="chosen_lang === 'EN' ">{{ footer_pic }}<a v-bind:href="author_picture_link">{{ author_name }}</a></p>
          <select v-model="chosen_lang">
            <option value="EN">EN</option>
            <option value="FR">FR</option>
          </select>
          <p v-show="chosen_lang === 'FR' "><a href="http://uniqueensongenre.eklablog.fr/">{{ footer_more_fr }}</a></p>
          <p v-show="chosen_lang === 'EN' "><a href="http://uniqueensongenre.eklablog.fr/">{{ footer_more }}</a></p>
        </footer>
        <p v-show="chosen_lang === 'EN' ">{{ message }}</p>
        <p v-show="chosen_lang === 'FR' ">{{ message_fr }}</p>
      </div>
      <script src="script.js"></script>
    </body>
</html>
