// variables //
$facebook-blue: #3b5998;
$accent-dark: #444f5a;
$accent-blue: #2994b2;
$accent-yellow: #fce38a;
$accent-cream: #fffbe0;

// general styling //
body {
  color:$accent-dark;
}


// ids //


// END (ids) //

// classes //

.accented-text {
  font-size:1.7em;
  font-weight: bold;
  color:$accent-blue;
}

// buttons //
.generic-button {
  color:$accent-cream;
  padding: 1% 2% 1% 2%;
  border-radius: 30px;
  border: none;
  background-color: $accent-blue;
  transition: 1.2s;
}

.generic-button:hover {
  background-color: lighten($accent-blue,10%);
  transition: 1.2s;
}

.soc-net-login-button {
  @extend .generic-button;
  background-color: $facebook-blue;
  font-family: "helvetica neue",helvetica,arial,"lucida grande",sans-serif;
}

.soc-net-login-button:hover {
  background-color: lighten($facebook-blue,10%);
  transition: 1.2s;
}

// END (buttons) //


// END (classes) //
