// variables //
$facebook-blue: #3b5998;
$accent-dark: #2c3e50;
$accent-dark-c: #34495e;
$accent-blue: #2994b2;
$accent-yellow: #fce38a;
$accent-white: #ecf0f1;

// general styling //
body {
  font-family:'Lato', sans-serif;
  font-size: 1.6em;
  background-repeat: no-repeat;
  // background-image: url('https://images.unsplash.com/photo-1474921751718-0692526ddaeb?dpr=1&auto=format&fit');
  background-image: url('https://images.unsplash.com/photo-1474921751718-0692526ddaeb?dpr=1.25&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop');
  background-attachment:fixed;


  // to manage 4K
  @media screen and (min-width: 1860px) {
    background-position: center;
    background-image: url('https://images.unsplash.com/photo-1474921751718-0692526ddaeb?dpr=1.25&auto=format&fit');
  }

  // using another picture when viewed on small devices
  @media screen and (min-width: 0px) and (max-width: 1023px) {
    background-position: center;
    background-image: url('https://images.unsplash.com/photo-1470267826516-96fa10965c57?dpr=1.25&auto=format&fit=crop&w=1500&h=2247&q=80&cs=tinysrgb&crop=');
  }


  color:$accent-white;

  h1 {
    font-size: 4vw;
    font-weight: 900;
    margin-bottom: 3%;

    @media screen and (min-width: 0px) and (max-width: 1023px){
      color: $accent-dark-c;
    }

    @media screen and (min-width: 1860px) {
      color:$accent-dark-c;
    }

  }

  div {
    section:first-of-type {
      margin-bottom: 3%;
      transition:2s;
    }
    :nth-of-type(2) {
      margin-bottom: 2%;

      p {
        padding: .3% 2% 0% 2%;
      }
    }

  }


  select {
    background-color:$accent-white;
    color:$accent-dark;
    border-radius: 5%;
    option {
      color:$accent-dark;
      font-weight: bold 700;
    }
  }

  section {

    h2 {
      padding-top: 1.2%;
    }

    select:last-of-type {
      margin-bottom: 1.5%;
    }
  }

  footer {
    margin: 3.5% 0% 2% 0%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5% 1% 3% 1% !important;
    select {
      height: 10%;
      margin-bottom: .9%;

      @media screen and (max-width: 647px) {
        width: 40%;
        align-self: center;
      }

      @media screen and (max-width: 767px) {
        width: 30%;
        align-self: center;
      }
    }

    @media screen and (max-width: 767px){
      flex-direction: column;
    }

    a:link, a:visited, a:hover, a:active {
      text-decoration: none;
    }

    a:link, a:visited {
      color: $accent-blue;
      transition: .5s;
    }

    a:hover {
      color: $accent-yellow;
      transition: .6s;
    }

    a:active {
      letter-spacing: 2px;
      transition: 1s;
    }

  }


  // generic media queries //

  // manage texts size

    @media screen and (min-width: 0px) and (max-width: 700px) {
      h1 {
        font-size: 7vw;
      }
    }

    @media screen and (min-width: 2160px) {
      h1 {
        font-size: 3.5vw;
      }
    }

    @media screen and (min-width: 2456px) {
      h1 {
        font-size: 3vw;
      }
    }

    @media screen and (min-width: 1500px) {
      p {
        font-size: 1.7em;
      }
    }

    @media screen and (min-width: 320px) and (max-width: 960px) {
      button {
        font-size: 1.3em;
      }
    }

    @media screen and (min-width: 1200px) and (max-width: 1500px) {
      button {
        font-size: 1.5em;
      }
    }

    @media screen and (min-width: 1600px) {
      button {
        font-size: 1.9em;
      }
    }

    // manage elements sizes

    @media screen and (min-width: 1500px) {
      select {
        font-size: 2em;
        option {
          font-size: 100%;
        }
      }
    }

  // END (media queries)
}


// ids //

// END (ids) //

// classes //

.magic-window {

  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 2%;
  padding-bottom: 3%;

}

// texts //
.accented-text {
  color:$accent-blue;
  font-size:1.7em;
  font-weight: bold 700;
  padding-top: 1.5%;
  padding-bottom: 0.5%;

  @media screen and (min-width: 1500px) {
    font-size: 3.5em;
  }
}

.accented-text-variant {
  @extend .accented-text;
  color:darken($accent-yellow, 5%);
}

// END (texts) //

// buttons //
.generic-button {
  color:$accent-white;
  padding: 1% 2% 1% 2%;
  border-radius: 30px;
  border: none;
  background-color: $accent-blue;
  transition: 1.2s;
  margin-bottom: 2%;
}

.generic-button:hover {
  color: $accent-dark;
  background-color: $accent-yellow;
  transition: 1.2s;
}

.soc-net-login-button {
  @extend .generic-button;
  background-color: $facebook-blue;
  font-family: "helvetica neue",helvetica,arial,"lucida grande",sans-serif;
}

.soc-net-login-button:hover {
  background-color: lighten($facebook-blue,10%);
  transition: 1.2s;
}

// END (buttons) //

// transitions //

.fade-enter-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

// END (transitions) //

// END (classes) //
